/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
    font-size: 78%; 

  @media only screen and (max-width: 850px) {
    font-size: 62.5%  ;
    /* display: none; */
  }

}

body {
  box-sizing: border-box;

  /* font-family: "Sora", sans-serif; */
  /* background-color: #000 ; */
  /* height: 100vh; */
}
